@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    background-color: #ffffff;
}

.text-right{
    text-align: right;
}
.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.menu {
    float: left;
}

/* navbar */
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFEFD8;
    z-index: 5;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 100px;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #471606;
    font-weight: 500;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: chocolate;
    font-weight: bold;
}

/* button */
.mt-20 {
    margin-top: 20px;
}

.display-1 {
    font-size: 36px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 20px;
}

.btn-primary {
    color: #F5EE84;
    background-color: #03045E;
}

.btn-primary:hover {
    color: #03045E;
    background-color: #F5EE84;
}

.color-primary {
    color: #03045E;
    background-color: #F5EE84;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

/* justify-content */
.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-start {
    justify-content: start;
}
.justify-content-end {
    justify-content: end;
}
.justify-content-center{
    justify-content: center;
}

.container {
    min-width: 1028px;
    padding: 20px;
    margin: 0 auto;
}

.container-fluid {
    box-sizing: border-box;
    width: 100%;
    padding: 50px;
    background-size: cover;
}

.home .container-fluid {
    min-height: 750px;
    padding: 1rem 7rem;
    color: #03045E;
    overflow: hidden;
    position: relative;
    background-color: #fff7ec;
}

.home img {
    width: 100%;
}

.home .desc {
    z-index: 1;
}

.desc p {
    margin-top: 20px;
}

/* About */

.about .container-fluid {
    min-height: 650px;
    padding: 4rem 7rem;
    color: #03045E;
    overflow: hidden;
    position: relative;
    background-color: #FFEFD8;
}

.about .tittle {
    z-index: 99;
}

.about .tittle p {
    margin-top: 20px;
    font-weight: bold;
    color: #471606;
    letter-spacing: 6px;
}

.about .tittle h1 {
    display: inline-block;
    margin-top: 10px;
    color: #471606;;
    background-color: #F5EE84;
    font-size: 50px;
    letter-spacing: 4px;
}

.about .tittle h1 span {
    color: #03045E;
}

.content p {
    display: inline-block;
    margin-top: 20px;
    text-align-last: justify;
    line-height: 38px;
}

.last p {
    display: inline-block;
    margin-top: 30px;
    background-color: #F5EE84;
    font-weight: bold;
    }


.img-tools img {
    width: 58px;
    margin-top: 30px;
    margin-right: 30px;

}

.copyright p {
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: #471606;
  }

/* recent */

.recent .container-fluid {
    min-height: 650px;
    padding: 4rem 7rem;
    color: #03045E;
    overflow: hidden;
    position: relative;
    background-color: #ECD3AF;
    text-align: center;
}

.recent .tittle {
    z-index: 99;
}

.recent .tittle p {
    margin-top: 20px;
    font-weight: bold;
    color: #471606;
    letter-spacing: 6px;
}

.recent .tittle h1 {
    display: inline-block;
    margin-top: 10px;
    color: #471606;;
    background-color: #F5EE84;
    font-size: 50px;
    letter-spacing: 4px;
}

.recent .tittle h1 span {
    color: #03045E;
}

/* footer */

footer .container-fluid {
    min-height: 650px;
    padding: 4rem 7rem;
    color: #03045E;
    overflow: hidden;
    position: relative;
    background-color: #B79379;
}

footer .tittle {
    z-index: 99;
}

footer .tittle p {
    margin-top: 20px;
    font-weight: bold;
    color: #471606;
    letter-spacing: 6px;
}

footer .tittle h1 {
    display: inline-block;
    margin-top: 10px;
    color: #471606;;
    background-color: #F5EE84;
    font-size: 50px;
    letter-spacing: 4px;
}

footer .tittle h1 span {
    color: #03045E;
}

footer img {
    margin-left: -15px;
    border-radius: 8px;
    width: 450px;
}

footer .d-flex{
    margin-top: 30px;
}

footer .desc{
    margin-top: 40px;
    margin-left: 60px;
    font-weight: bold;
    color: #471606;
    letter-spacing: 2px;
    line-height: 40px;
}

.img-contact img {
    width: 58px;
    margin-top: 10px;
    margin-right: 30px;

}

/* copyright */

.copyright p .font {
    font-weight: bold;
}